<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:overmyer.meredith@gmail.com">email</a></li>
	        		<li><a href="https://instagram.com/meredith_christine">IG @meredith_christine</a></li>
	        		<li><a href="https://twitter.com/mereforce1">Twitter @mereforce1</a></li>
	        		<li><a href="http://bycoastal.tumblr.com/">Tumblr</a></li>
	        		<li><a href="http://vsco.co/meredith_christine/">VSCO Photography</a></li>
				</ul>
			</footer>
		</body>
	</html>
